{% extends "base.html" %}

{% block content %}
<h1>new post</h1>
<form action="/newpost" method="post">
    
        <div cellspacing="0">
            <label for="title"><p class="space" style="font-size:22px">title: </p></label>
            <input type ="text" name="title" style="width:400px; height:28px" value='{{request.form['title']}}'>
            <span class="error">{{error}}</span>
            
            <label for="body"><p class="space" style="font-size:22px">post: </p></label>
            <textarea style="height:200px; width:400px" type="text" name="body">{{request.form['body']}}</textarea>
            <span class="error">{{error_too}}</span>
            <p><input style="width: 180px; height:36px; font-size:25px" type="submit" value="Submit Query"/></p>
        </div>       
       
</form>





{% endblock %}