{% extends "base.html" %}

{% block content %}
<h1>Login</h1>
<body class="right">
<form action="/login" method="post" >
    <table cellspacing="0">
        
        <tr>
            <td><label for="username"><p class="space" style="font-size:22px">Username</p></label></td>
            <td>
                <input style="width: 400px; height:25px;" name="username" type="text" value='{{request.form['username']}}'>
                <span class="error">{{error_username}}</span>
            </td>
        </tr>
        <tr >
            <td><label  for="password"><p class="space" style="font-size:22px">Password</p></label></td>
            <td>
                <input style="width: 400px; height:25px;" name="password" type="password">
                <span class="error">{{error_password}}</span>
            </td>
        </tr>
        
    </table>
    <input style="width: 180px; height:36px; font-size:25px" type="submit" value="Submit Query">
</form>
<p style="font-size: 18px">Don't have an account? <a href="/signup">Create one</a></p>
</body>
{% endblock %}